body { width: 800px; margin: 0 auto; }

textarea { width: 600px; height: 60px; }

td.checkbox { width: 60px; }

td.task-title { width: 400px; }

td.task-detail { width: 200px; }

td.assign-button { width: 140px; }

td.assignee { width: 140px; }

td.task-title a {
  text-decoration: none;
  color: inherit;
}
td.task-title a:hover {
  text-decoration: underline;
}

a.plain {
  color: inherit;
  text-decoration: none;
}

.empty-subtasks { width: 800px; height: 60px; }

.taskdescription {
  border: 1px solid #ddd;
/*  margin: 1em 1em;*/
  padding: .5em;
}

.codehilitetable td.linenos {
  width: 20px;
}