body { width: 800px; margin: 0 auto; }

textarea { width: 600px; height: 60px; }

td.checkbox { width: 60px; }

td.task-title { width: 600px; }

td.assign-button { width: 140px; }

td.assignee { width: 140px; }

td.task-title a {
  text-decoration: none;
  color: inherit;
}
td.task-title a:hover {
  text-decoration: underline;
}

a.plain {
  color: inherit;
  text-decoration: none;
}
