body { width: 800px; margin: 0 auto; }

textarea { width: 800px; height: 100px; }

td.checkbox { width: 60px; }

td.task-title { width: 360px; }

tr.inactive-task-row { color: gray }

td.nav-link { width: 80px; }

td.task-detail { width: 200px; }

td.assign-button { width: 100px; }

td.assignee { width: 100px; }

td.task-title a {
  color: inherit;
  text-decoration: none;
}

td.task-title a:hover {
  text-decoration: underline;
}

td.expand-control {
  width: 15px;
}

.level0 {
  padding-left: 1em;
}

.level1 {
  padding-left: 2em;
}

.level2 {
  padding-left: 3em;
}

td.level3 {
  padding-left: 4em;
}

a.plain {
  color: inherit;
  text-decoration: none;
}

.new-task-title {
  font-size: 18;
  margin-bottom: 0.5em;
}

.new-task-title:hover {
  background-color: #E5ECF9;
}

.empty-subtasks { width: 800px; height: 60px; }

.task-description {
  background-color: #E5ECF9;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.no-task-description-body {
  padding-top: 1em;
  padding-bottom: 1em;
}

.no-tasks {
  padding-top: 1em;
  padding-bottom: 1em;
}

.codehilitetable td.linenos {
  width: 20px;
}
