<html>
  <head>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/pygments_style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  </head>
  <body>

{% include 'sps-header.html' %}

<h3>Edit Task</h3>
<form action="/edit-task" method="post">
  Task description. The first line of the description will be used as the
  title of the task.
  <textarea  name="description">{{ task_description }}</textarea><br>
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
  <input type="hidden" name="task_id" value="{{ task_identifier }}">
  <input type="submit" value="Change Description">
</form>
<br>

</body>
</html>
