<html>
<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/pygments_style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>

{% include 'sps-header.html' %}

<h3>Move Task</h3>
<p>Move task '{{ task_title|escape }}' (and {{ task_num_subtasks }} subtask{{ task.num_subtasks|pluralize }}) as subtask of another task.</p>
<p>Select the new super task below</p>
<form  action="/move-task" method="post">
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
  <input type="hidden" name="task_id" value="{{ task_identifier }}">
  <input type="submit" value="Move">
  <table>
    {% for task in tasks %}
    <tr>
      <td class="checkbox">{% for i in task.levels %}&nbsp;&nbsp;{% endfor %}<input type="radio" name="new_parent" value="{{ task.id }}"></td>
      <td class="task-title">{{ task.title|escape }}</td>
      <td class="assignee">{{ task.assignee_description|escape }}</td>
    </tr>
    {% endfor %}
  </table>
</form>

</body>
</html>
