<html>
<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("input[type=checkbox]").click(function() {
        $.post('/set-task-completed', { id: $(this).attr("value"), completed: this.checked, domain: "{{ domain_identifier }}" });
      });
    });
  </script>
</head>
<body>
<h1><a href="/" class='plain' title="Back to overview">{{ domain_name|escape }}</a></h1>
logged in as: <b> {{ username|escape }} </b>
<hr>

{% if messages %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<h3>New Task</h3>
<form action="/create-task" method="post">
Task description. The first line of the description will be used as the
title of the task.
<textarea  name="description"></textarea><br>
<input type="checkbox" name="assign_to_self" checked> assign task to yourself<br>
<input type="hidden" name="domain" value="{{ domain_identifier }}">
<input type="submit" value="Create Task" />
</form>
<br>

<table>
  <tr>
    <td><a href="/d/{{ domain_identifier }}/">Your Tasks</a></td>
    <td><a href="/d/{{ domain_identifier }}/open">Open Tasks</a></td>
    <td><a href="/d/{{ domain_identifier }}/all">All Tasks</a></td>
  </tr>
</table>

{% block body %}
{% endblock %}

</body>
</html>
