<html>
<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    function addClickHandlers() {
      $("input[type=checkbox][@name=completed]").unbind('click').click(function() {
        $.post('/set-task-completed', { id: $(this).attr("value"), completed: this.checked, domain: "{{ domain_identifier }}" });
      });

      $("a.expandable").unbind('click').click(function(e) {
        e.preventDefault()
        var $row = $(this).parent().parent()
        var level = $row.attr("level")
        if ($row.hasClass("expanded")) { return true; }
        $row.addClass("expanded")
        $.get("/get-subtasks",
              { 'domain': "{{ domain_identifier }}",
                'task': $(this).attr("value"),
                'view': $(this).attr("view"),
                'level': level },
              function(data) {
                $row.after(data);
                addClickHandlers()
              });
      });
    }

    $(document).ready(function() {
      addClickHandlers()
    });

  </script>
</head>
<body>

<div style="float: left;">
<h3>
  <a href="/d/{{ domain_identifier }}?view={{ view_mode }}" class='plain' title="Back to overview">{{ domain_name|escape }}</a>
</h3>
</div>
<div style="float: right; margin-top: 1.5em'">
logged in as: <b> {{ user_name|escape }}</b>
</div>
<hr>

{% if messages %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
