<tr>
  <td class="checkbox">
    <form>
      {% for i in task.levels %}&nbsp;&middot;{% endfor %}<input type="checkbox" name="completed" value="{{ task.id }}" {% if task.completed %} checked {% endif %}{% if not task.can_complete %}disabled{% endif %}>
      </form>
    </td>
  <td class="task-title">
    <a href="/d/{{ domain_identifier }}/task/{{ task.id }}">
      {{ task.title|escape }}
    </a>
  </td>
  <td class="task-detail">
    {% if task.num_subtasks %}
    {{ task.num_subtasks }} subtask{{ task.num_subtasks|pluralize }}
    {% endif %}
  </td>
  {% if task.can_assign_to_self %}
  <td class="assign-button">
    <form action="/assign-task" method="post">
      <input type="submit" value="Assign to self">
      <input type="hidden" name="assignee" value="{{ user_identifier }}">
      <input type="hidden" name="id" value="{{ task.id }}">
      <input type="hidden" name="domain" value="{{ domain_identifier }}">
    </form>
  </td>
  {% else %}
  <td class="assignee">{{ task.assignee_description|escape }}</td>
  {% endif %}
</tr>
