{% include 'sps-header.html' %}

<div class="breadcrumbs">
<b>
{% if parent_identifier %}
<a href="/d/{{ domain_identifier }}/task/{{ parent_identifier }}?view={{ view_mode }}">{{ parent_title }}</a>
{% else %}
<a href="/d/{{ domain_identifier }}?view={{view_mode}}">Task Overview</a>
{% endif %}
/ {{ task_title }}</b>
</div>

<div class="task-description">
<h2>{{ task_title|escape }}</h2>
{% if task_description %}
<div class="task-description-body">{{ task_description|markdown }}</div>
{% else %}
<div class="no-task-description-body">
  <center>
    <p>No extra description has been entered for this task.</p>
  </center>
</div>
{% endif %}
</div>


<div class="taskfooter">
{% if task_can_assign_to_self %}
<div style="float: left;">
<form action="/assign-task" method="post">
  <input type="submit" value="Assign to self">
  <input type="hidden" name="assignee" value="{{ user_identifier }}">
  <input type="hidden" name="id" value="{{ task_identifier }}">
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
</form>
</div>
{% else %}
{% if task_assignee %}
<div style="float: left;">
  <p>Assigned to {{ task_assignee|escape }}</p>
</div>
{% endif %}
{% endif %}
{% if task_can_edit %}
<div style="float: right;">
  <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}/edit">edit this task</a>
</div>
{% endif %}
</div>
<hr>

{% include 'new-task.html' %}

{% if task_has_subtasks %}
<p>
Show: <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}?view=all">All Tasks</a>
, <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}?view=open">Open Tasks</a>
, <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}?view=yours">Your Tasks</a>

<h3>{{ subtasks_heading }}</h3>
<table>
  {% for task in subtasks %}
  {% include 'task-row.html' %}
  {% empty %}
  <div class="no-tasks">
    <center>
      <p>{{ no_subtasks_description }}</p>
    </center>
  </div>
  {% endfor %}
</table>

{% endif %}

</body>
</html>
