<html>
<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("input[type=checkbox]").click(function() {
        $.post('/set-task-completed', { id: $(this).attr("value"), completed: this.checked, domain: "{{ domain_identifier }}" });
      });
    });
  </script>
</head>
<body>
<h1>{{ domain_name|escape }}</h1>
logged in as: <b> {{ user_name|escape }} </b>
<hr>

{% if messages %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<h3>Task Description</h3>
{% if parent_identifier %}
Subtask of <a href="/d/{{ domain_identifier }}/task/{{ parent_identifier }}">{{ parent_title }}</a><br>
{% endif %}

<textarea disabled>{{ task_description|escape }}</textarea><br>
Assigned to {{ task_assignee|escape }}
<hr>
<h3>Subtasks</h3>
<table>
  {% for task in subtasks %}
  <tr>
    <td class="checkbox">
      <form><input type="checkbox" value="{{ task.id }}" {% if task.completed %}checked{% endif %} {% if not task.can_complete %} disabled {% endif %}></form></td>
    {% include 'task-title-column.html' %}
    {% if task.is_assigned %}
    <td class="assignee">{{ task.assignee_description|escape }}</td>
    {% else %}
    <td class="assign-button">
      <form action="/assign-task" method="post">
	<input type="submit" value="Assign to self">
	<input type="hidden" name="assignee" value="{{ user_identifier }}">
	<input type="hidden" name="id" value="{{ task.id }}">
	<input type="hidden" name="domain" value="{{ domain_identifier }}">
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<h3>New Subtask</h3>
<form action="/create-task" method="post">
Task description. The first line of the description will be used as the
title of the task.
<textarea  name="description"></textarea><br>
<input type="checkbox" name="assign_to_self" checked> assign task to yourself<br>
<input type="hidden" name="domain" value="{{ domain_identifier }}">
<input type="hidden" name="parent" value="{{ task_identifier }}">
<input type="submit" value="Create Task">
</form>


</body>
</html>
