<html>
<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/pygments_style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("input[type=checkbox]").click(function() {
        $.post('/set-task-completed', { id: $(this).attr("value"), completed: this.checked, domain: "{{ domain_identifier }}" });
      });
    });
  </script>
</head>
<body>

{% include 'sps-header.html' %}

<h2>{{ task_title|escape }}</h2>
{% if parent_identifier %}
<p>Subtask of <a href="/d/{{ domain_identifier }}/task/{{ parent_identifier }}?view={{ view_mode }}">{{ parent_title }}</a></p>
{% else %}
<p>Back to <a href="/d/{{ domain_identifier }}">task overview</a></p>
{% endif %}
{% if task_description %}
Description:<br>
<div class="taskdescription">{{ task_description|markdown }}</div>
{% else %}
<p>No extra description has been entered for this task.</p>
{% endif %}

{% if task_can_assign_to_self %}
<form action="/assign-task" method="post">
  <input type="submit" value="Assign to self">
  <input type="hidden" name="assignee" value="{{ user_identifier }}">
  <input type="hidden" name="id" value="{{ task_identifier }}">
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
</form>
{% else %}
{% if task_assignee_description %}
<p>Assigned to {{ task_assignee_description|escape }}</p>
{% endif %}
{% endif %}

<hr>

{% if task_number_of_subtasks > 0 %}
<p>
Show: <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}?view=all">All Tasks</a>
, <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}?view=open">Open Tasks</a>
, <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}?view=yours">Your Tasks</a>

<h3>{{ subtasks_heading }}</h3>
<table>
  {% for task in subtasks %}
  {% include 'task-row.html' %}
  {% empty %}
  <p>{{ no_subtasks_description }}</p>
  {% endfor %}
</table>

{% endif %}

<h3>New Subtask</h3>
<form action="/create-task" method="post">
Task description. The first line of the description will be used as the
title of the task.
<textarea  name="description"></textarea><br>
<input type="checkbox" name="assign_to_self" checked> assign task to yourself<br>
<input type="hidden" name="domain" value="{{ domain_identifier }}">
<input type="hidden" name="parent" value="{{ task_identifier }}">
<input type="submit" value="Create Task">
</form>
<br>

<h3>Move Task</h3>
<form action="/d/{{ domain_identifier }}/task/{{ task_identifier }}/move">
<input type="submit" value="Move Task">
</form>

</body>
</html>
